# Entorno virtual
venv/
.venv/
# Archivos de Python
__pycache__/
*.pyc
# Datos y resultados pesados
*.fasta.gz
resultados/
# Archivos del sistema operativo
.DS_Store
Thumbs.db
# Configuración local de VS Code
.vscode/
